.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.avatar {
    margin: 10px 0;
}